@model Sistema_Clinica.Models.Cargo

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Cargo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cargo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_cargo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.car_idCargo }) |
    @Html.ActionLink("Regresar", "Index")
</p>
