
@{
    ViewBag.Title = "Registrarse";
}

<h2>El usuario no existe ¿Desea registrarse?</h2>
@Html.ActionLink("Registrarse", "Registro") | @Html.ActionLink("Regresar", "Index")

<h6>El registro de empleados es únicamente creado por el administrador</h6>


